body{
    margin:0;
    background-color: #333;
    /*background:url('../img/bg.png') center 0 repeat-y ;*/
}
#header{
    background: url('../img/logo.png') 0 0 no-repeat; 
    padding: 0;
    margin:0;
    border-top: 1px solid #fff;
    height: 100px;
}
#header h1{
    text-indent: -9999999px;
}
#outer-container{
    margin: 0 auto;
    width:960px;
    
}
#container{
    float:left;
    width:950px;
    background-color: #fff;
}
#nav{
    margin:0;
    width:100%;
    border-bottom: 1px solid #666;
}
#nav ul{
    margin:0;
    height:28px;
}
#nav li{
    display:inline;
    border: 1px solid #666;
     border-bottom: 0;
    padding: 10px 20px;
    background-color: #006181; 
    
}
#nav li a{
    text-decoration: none;
    color: #ccc;
}
#nav li:hover{
    background-color:#333;
}
#nav li a:hover{
    color: #ccc;   
}
#sidebar {
    width:230px;
    float:left;
 	padding: 2em;
}

#sidebar h3{
    padding-left:20px;
}
#main {
    float:left;
    width: 610px;
    padding: 20px;
     border-left: 1px solid #ccc;
     
}
h1,h2,h3{
    font-family: Verdana,Arial,Helvetica,sans-serif;
}